<a href="https://colab.research.google.com/github/Debabrat1/Indian-Flight-Networks/blob/main/Normalized_Centrality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Import numpy and pandas packages

In [ ]:
import pandas as pd
import numpy as np

file =('/content/drive/MyDrive/Sudip_Sir/flightt.xlsx')
## Removing Unnecessary Rows and Colums from the Excel Sheet
flightData = pd.read_excel(file, usecols="C,D,E", skiprows=0)
print(flightData)

    Airport Names Airport(Arrival)  Frequency per week
0        Agartala        Bangalore                   7
1             NaN            Delhi                   7
2             NaN         Guwahati                  25
3             NaN           Imphal                   7
4             NaN          Kolkata                  77
..            ...              ...                 ...
874        Thoise            Delhi                   2
875     Passighat         Guwahati                   4
876       Pakyong          Kolkata                   7
877   Pondicherry        Bangalore                   5
878           NaN        Hyderabad                   7

[879 rows x 3 columns]

In [ ]:
## Using PAD Fill to Fill Up the Empty Columns in City Name
flightData.fillna(method='pad', inplace=True)
print(flightData.to_string())

     Airport Names Airport(Arrival)  Frequency per week
0         Agartala        Bangalore                   7
1         Agartala            Delhi                   7
2         Agartala         Guwahati                  25
3         Agartala           Imphal                   7
4         Agartala          Kolkata                  77
5           Agatti           Cochin                  14
6        Ahmedabad       Aurangabad                  13
7        Ahmedabad         Bagdogra                  13
8        Ahmedabad        Bangalore                  76
9        Ahmedabad          Belgaum                   7
10       Ahmedabad        Bhavnagar                   6
11       Ahmedabad           Bhopal                  14
12       Ahmedabad     Bhubaneshwar                   7
13       Ahmedabad       Chandigarh                  27
14       Ahmedabad          Chennai                  55
15       Ahmedabad           Cochin                  14
16       Ahmedabad         Dehradun                  13
17       Ahmedabad            Delhi                 172
18       Ahmedabad              Diu                   6
19       Ahmedabad              Goa                  27
20       Ahmedabad         Guwahati                   6
21       Ahmedabad            Hubli                   7
22       Ahmedabad        Hyderabad                  59
23       Ahmedabad           Indore                  40
24       Ahmedabad         Jabalpur                   6
25       Ahmedabad           Jaipur                  39
26       Ahmedabad        Jaisalmer                  12
27       Ahmedabad          Jalgaon                   7
28       Ahmedabad          Jodhpur                  13
29       Ahmedabad           Kandla                  13
30       Ahmedabad           Kanpur                   6
31       Ahmedabad       Kishangarh                   6
32       Ahmedabad          Kolkata                  29
33       Ahmedabad          Lucknow                  29
34       Ahmedabad           Meerut                   6
35       Ahmedabad           Mumbai                  88
36       Ahmedabad           Nagpur                  13
37       Ahmedabad           Nashik                  13
38       Ahmedabad            Patna                   6
39       Ahmedabad        Porbandar                   7
40       Ahmedabad             Pune                  41
41       Ahmedabad         Srinagar                   7
42       Ahmedabad          Udaipur                   6
43       Ahmedabad        Varanashi                  20
44       Bhavnagar        Ahmedabad                   6
45       Bhavnagar            Surat                   6
46       Porbandar        Ahmedabad                   7
47       Porbandar           Mumbai                   7
48       Jammnagar           Mumbai                   7
49          Rajkot            Delhi                  14
50          Rajkot           Mumbai                  21
51            Bhuj           Mumbai                   7
52          Kandla        Ahmedabad                  12
53          Kandla           Mumbai                   7
54           Surat        Bangalore                  14
55           Surat        Bhavnagar                   6
56           Surat          Chennai                  14
57           Surat            Delhi                  42
58           Surat              Goa                  21
59           Surat        Hyderabad                  14
60           Surat           Jaipur                  10
61           Surat        Jaisalmer                   7
62           Surat          Kolkata                  28
63           Surat           Mumbai                   7
64           Surat           Nagpur                   7
65           Surat          Udaipur                   7
66        Vadodara        Bangalore                  15
67        Vadodara            Delhi                  49
68        Vadodara        Hyderabad                   7
69        Vadodara           Mumbai                  22
70        Vadodara           Nagpur                  14
71         Aizawal         Guwahati                  14
72         Aizawal           Imphal                   4
73         Aizawal          Kolkata                  21
74            Agra           Jaipur                   4
75       Allahabad           Bhopal                   7
76       Allahabad        Bangalore                   7
77       Allahabad            Delhi                  28
78       Allahabad          Kolkata                  21
79       Allahabad           Mumbai                   7
80       Allahabad           Raipur                  21
81       Gorakhpur        Bangalore                   7
82       Gorakhpur            Delhi                  14
83       Gorakhpur        Hyderabad                   7
84       Gorakhpur          Kolkata                   7
85       Gorakhpur           Mumbai                   7
86          Hindon            Hubli                   3
87          Hindon      Pithoragarh                   7
88          Kanpur        Ahmedabad                   6
89          Kanpur            Delhi                   7
90          Kanpur           Mumbai                  14
91         Lucknow        Ahmedabad                  36
92         Lucknow        Bangalore                  41
93         Lucknow          Chennai                   7
94         Lucknow         Dehradun                   6
95         Lucknow            Delhi                 147
96         Lucknow              Goa                   8
97         Lucknow        Hyderabad                  20
98         Lucknow          Kolkata                  28
99         Lucknow           Mumbai                  63
100        Lucknow            Patna                  14
101        Lucknow             Pune                   7
102        Lucknow         Srinagar                   7
103      Varanashi        Ahmedabad                  19
104      Varanashi        Ahmedabad                  13
105      Varanashi        Bangalore                  27
106      Varanashi     Bhubaneshwar                   7
107      Varanashi          Chennai                  18
108      Varanashi         Dehradun                   3
109      Varanashi            Delhi                 127
110      Varanashi             Gaya                  15
111      Varanashi        Hyderabad                  36
112      Varanashi           Jaipur                  11
113      Varanashi        Khajuraho                  12
114      Varanashi          Kolkata                  33
115      Varanashi           Mumbai                  56
116        Adampur            Delhi                   7
117       Amritsar        Bangalore                   7
118       Amritsar         Dehradun                   2
119       Amritsar            Delhi                  87
120       Amritsar        Hyderabad                   7
121       Amritsar           Jaipur                   7
122       Amritsar          Kolkata                   7
123       Amritsar           Mumbai                  16
124       Amritsar            Patna                  11
125       Amritsar         Srinagar                  14
126       Bathinda            Delhi                   3
127     Chandigarh        Ahmedabad                  23
128     Chandigarh        Bangalore                  19
129     Chandigarh         Dehradun                   2
130     Chandigarh            Delhi                 167
131     Chandigarh      Dharamshala                   6
132     Chandigarh        Hyderabad                   8
133     Chandigarh          Kolkata                  23
134     Chandigarh            Kullu                  18
135     Chandigarh              Leh                   4
136     Chandigarh           Mumbai                  41
137     Chandigarh             Pune                   3
138     Chandigarh           Shimla                   6
139     Chandigarh         Srinagar                  13
140       Bagdogra        Ahmedabad                  13
141       Bagdogra        Bangalore                  21
142       Bagdogra          Chennai                   7
143       Bagdogra            Delhi                  69
144       Bagdogra        Dibrugarh                   7
145       Bagdogra         Guwahati                  21
146       Bagdogra        Hyderabad                   7
147       Bagdogra          Kolkata                  66
148       Bagdogra           Mumbai                  14
149       Durgapur            Delhi                   7
150       Durgapur        Hyderabad                   4
151        Kolkata         Agartala                  78
152        Kolkata        Ahmedabad                  35
153        Kolkata          Aizawal                  14
154        Kolkata        Allahabad                  21
155        Kolkata         Amritsar                   7
156        Kolkata         Bagdogra                  66
157        Kolkata        Bangalore                 142
158        Kolkata     Bhubaneshwar                  56
159        Kolkata       Chandigarh                  14
160        Kolkata          Chennai                 120
161        Kolkata           Cochin                   8
162        Kolkata            Delhi                 278
163        Kolkata        Dibrugarh                  26
164        Kolkata          Dimapur                  13
165        Kolkata             Gaya                  13
166        Kolkata              Goa                   7
167        Kolkata        Gorakhpur                   7
168        Kolkata         Guwahati                 122
169        Kolkata          Gwalior                   7
170        Kolkata        Hyderabad                  65
171        Kolkata           Imphal                  26
172        Kolkata           Indore                   7
173        Kolkata         Jabalpur                  35
174        Kolkata           Jaipur                  43
175        Kolkata           Jorhat                   7
176        Kolkata         Lilabari                   7
177        Kolkata          Lucknow                  30
178        Kolkata           Mumbai                 169
179        Kolkata           Nagpur                  15
180        Kolkata          Pakyong                   7
181        Kolkata            Patna                 116
182        Kolkata       Port Blair                  61
183        Kolkata             Pune                  34
184        Kolkata           Raipur                  50
185        Kolkata         Shillong                   7
186        Kolkata          Silchar                  30
187        Kolkata            Surat                  22
188        Kolkata        Varanashi                  33
189        Kolkata    Visakhapatnam                  14
190      Bangalore         Agartala                   7
191      Bangalore           Agatti                   7
192      Bangalore        Ahmedabad                  89
193      Bangalore        Allahabad                   7
194      Bangalore         Amritsar                   7
195      Bangalore         Bagdogra                  21
196      Bangalore         Belagavi                  28
197      Bangalore          Belgaum                   2
198      Bangalore           Bhopal                   7
199      Bangalore     Bhubaneshwar                  52
200      Bangalore            Bidar                   7
201      Bangalore          Calicut                  14
202      Bangalore       Chandigarh                  19
203      Bangalore          Chennai                 129
204      Bangalore           Cochin                  70
205      Bangalore       Coimbatore                  39
206      Bangalore         Dehradun                  12
207      Bangalore            Delhi                 321
208      Bangalore              Goa                  68
209      Bangalore        Gorakhpur                   7
210      Bangalore         Guwahati                  31
211      Bangalore          Gwalior                   6
212      Bangalore            Hubli                  21
213      Bangalore        Hyderabad                 224
214      Bangalore           Imphal                  20
215      Bangalore           Indore                  26
216      Bangalore           Jaipur                  33
217      Bangalore        Jaisalmer                   7
218      Bangalore       Jharsuguda                   7
219      Bangalore          Jodhpur                   7
220      Bangalore           Kannur                  19
221      Bangalore         Kolhapur                   7
222      Bangalore          Kolkata                 118
223      Bangalore          Lucknow                  39
224      Bangalore          Madurai                  26
225      Bangalore        Mangalore                  68
226      Bangalore           Mumbai                 341
227      Bangalore           Mysore                   7
228      Bangalore           Nagpur                  28
229      Bangalore            Patna                  41
230      Bangalore      Pondicherry                   6
231      Bangalore       Port Blair                  20
232      Bangalore             Pune                 116
233      Bangalore           Raipur                  14
234      Bangalore      Rajahmundry                  14
235      Bangalore           Ranchi                  27
236      Bangalore           Shirdi                  19
237      Bangalore            Surat                  14
238      Bangalore        Tirupathi                   7
239      Bangalore           Trichy                   7
240      Bangalore       Trivandrum                  51
241      Bangalore        Tuticorin                   7
242      Bangalore          Udaipur                   8
243      Bangalore         Vadodara                  14
244      Bangalore        Varanashi                  27
245      Bangalore       Vidyanagar                   7
246      Bangalore        Vijaywada                  40
247      Bangalore    Visakhapatnam                  34
248        Belgaum        Ahmedabad                   7
249        Belgaum        Bangalore                  29
250        Belgaum         Cuddapah                   7
251        Belgaum        Hyderabad                  21
252        Belgaum           Mumbai                  11
253        Belgaum           Mysore                   7
254        Belgaum             Pune                   7
255        Belgaum        Tirupathi                   7
256          Hubli        Ahmedabad                   7
257          Hubli        Bangalore                  19
258          Hubli          Chennai                   7
259          Hubli           Cochin                   7
260          Hubli              Goa                   7
261          Hubli           Hindon                   3
262          Hubli        Hyderabad                   7
263          Hubli           Kannur                   7
264          Hubli           Mumbai                   5
265          Hubli        Tirupathi                   7
266      Mangalore        Bangalore                  66
267      Mangalore          Chennai                  14
268      Mangalore            Delhi                  14
269      Mangalore        Hyderabad                  14
270      Mangalore           Mumbai                  35
271      Mangalore             Pune                   7
272     Vidyanagar        Bangalore                   7
273     Vidyanagar        Hyderabad                   7
274         Mysore        Bangalore                   7
275         Mysore         Belagavi                   7
276         Mysore          Chennai                  14
277         Mysore           Cochin                   7
278         Mysore              Goa                   7
279         Mysore        Hyderabad                  14
280         Bhopal        Ahmedabad                  14
281         Bhopal        Allahabad                   7
282         Bhopal        Bangalore                   7
283         Bhopal            Delhi                  55
284         Bhopal        Hyderabad                  14
285         Bhopal           Jaipur                  14
286         Bhopal           Mumbai                  35
287         Bhopal           Nagpur                   7
288         Bhopal             Pune                   6
289         Bhopal           Raipur                   7
290         Bhopal          Udaipur                   7
291        Gwalior        Bangalore                   6
292        Gwalior            Delhi                   3
293        Gwalior        Hyderabad                   7
294        Gwalior           Indore                   3
295        Gwalior            Jammu                   7
296        Gwalior          Kolkata                   7
297         Indore        Ahmedabad                  54
298         Indore        Bangalore                  28
299         Indore          Belgaum                   3
300         Indore          Chennai                   7
301         Indore            Delhi                  81
302         Indore              Goa                  14
303         Indore          Gwalior                   3
304         Indore        Hyderabad                  28
305         Indore           Jaipur                   7
306         Indore       Kishangarh                   3
307         Indore          Kolkata                   7
308         Indore           Mumbai                  37
309         Indore           Nagpur                   8
310         Indore           Raipur                   7
311         Indore           Shirdi                   7
312      Khajuraho             Agra                   3
313      Khajuraho        Varanashi                   4
314       Jabalpur        Ahmedabad                   6
315       Jabalpur            Delhi                  14
316       Jabalpur        Hyderabad                  14
317       Jabalpur          Kolkata                  14
318       Jabalpur           Mumbai                   7
319   Bhubaneshwar        Ahmedabad                   6
320   Bhubaneshwar        Bangalore                  49
321   Bhubaneshwar          Chennai                  15
322   Bhubaneshwar            Delhi                  58
323   Bhubaneshwar         Guwahati                   7
324   Bhubaneshwar        Hyderabad                  28
325   Bhubaneshwar       Jharsuguda                   7
326   Bhubaneshwar          Kolkata                  50
327   Bhubaneshwar           Mumbai                  21
328   Bhubaneshwar           Nagpur                   7
329   Bhubaneshwar           Ranchi                   7
330     Jharsuguda     Bhubaneshwar                   7
331     Jharsuguda           Raipur                   7
332     Jharsuguda            Delhi                   7
333     Jharsuguda        Hyderabad                   7
334     Jharsuguda          Kolkata                   7
335        Calicut        Bangalore                   7
336        Calicut           Mumbai                   7
337        Calicut          Chennai                   7
338        Calicut           Mumbai                   7
339        Calicut            Delhi                   7
340        Calicut        Bangalore                   7
341        Calicut          Chennai                   7
342         Cochin           Agatti                   7
343         Cochin        Ahmedabad                  13
344         Cochin        Bangalore                  77
345         Cochin          Chennai                  76
346         Cochin            Delhi                  56
347         Cochin              Goa                   7
348         Cochin            Hubli                   7
349         Cochin        Hyderabad                  43
350         Cochin           Kannur                  14
351         Cochin          Kolkata                  14
352         Cochin           Mumbai                  56
353         Cochin           Mysore                   7
354         Cochin             Pune                  13
355         Cochin        Tirupathi                   6

In [ ]:
## Converting the city names to index based on dictionary

cityDict = { "Delhi" : 0, "Mumbai" : 1, "Kolkata" : 2, "Chennai" : 3, "Agartala" : 4, "Agatti" : 5, "Ahmedabad" : 6, "Bhavnagar" : 7, "Porbandar" : 8, "Jammnagar" : 9, "Rajkot" : 10, "Bhuj" : 11, "Kandla" : 12, "Surat" : 13, "Vadodara" : 14, "Aizawal" : 15, "Agra" : 16, "Allahabad" : 17, "Gorakhpur" : 18, "Hindon" : 19, "Kanpur" : 20, "Lucknow" : 21, "Varanashi" : 22, "Adampur" : 23, "Amritsar" : 24, "Bathinda" : 25, "Chandigarh" : 26, "Bagdogra" : 27, "Durgapur" : 28, "Bangalore" : 29, "Belgaum" : 30, "Hubli" : 31, "Mangalore" : 32, "Vidyanagar" : 33, "Mysore" : 34, "Bhopal" : 35, "Gwalior" : 36, "Indore" : 37, "Khajuraho" : 38, "Jabalpur" : 39, "Bhubaneshwar" : 40, "Jharsuguda" : 41, "Calicut" : 42, "Cochin" : 43, "Kannur" : 44, "Trivandrum" : 45, "Coimbatore" : 46, "Madurai" : 47, "Trichy" : 48, "Tuticorin" : 49, "Salem" : 50, "Dehradun" : 51, "Pantnagar" : 52, "Pithoragarh" : 53, "Dibrugarh" : 54, "Guwahati" : 55, "Jorhat" : 56, "Silchar" : 57, "Tezpur" : 58, "Lilabari" : 59, "Dimapur" : 60, "Gaya" : 61, "Patna" : 62, "Goa" : 63, "Hyderabad" : 64, "Imphal" : 65, "Bikaner" : 66, "Jaipur" : 67, "Jaisalmer" : 68, "Jodhpur" : 69, "Kishangarh" : 70, "Udaipur" : 71, "Jammu" : 72, "Srinagar" : 73, "Aurangabad" : 74, "Kolhapur" : 75, "Nagpur" : 76, "Pune" : 77, "Shirdi" : 78, "Nashik" : 79, "Nanded" : 80, "Jalgaon" : 81, "Port Blair" : 82, "Jagdalpur" : 83, "Raipur" : 84, "Cuddapah" : 85, "Rajahmundry" : 86, "Tirupathi" : 87, "Vijaywada" : 88, "Visakhapatnam" : 89, "Ranchi" : 90, "Shillong" : 91, "Dharamshala" : 92, "Kullu" : 93, "Shimla" : 94, "Diu" : 95, "Leh" : 96, "Thoise" : 97, "Passighat" : 98, "Pakyong" : 99, "Pondicherry" : 100, "Belagavi" : 101, "Kadapa" : 102, "Andal" : 103, "Ludhiana" : 104, "Pathankot" : 105, "Patnagar" : 106, "Kangra" : 107, "Meerut" : 108, "Bidar" :109, }
inv_cityDict = {v: k for k, v in cityDict.items()}
print(inv_cityDict)
print(len(cityDict))

{0: 'Delhi', 1: 'Mumbai', 2: 'Kolkata', 3: 'Chennai', 4: 'Agartala', 5: 'Agatti', 6: 'Ahmedabad', 7: 'Bhavnagar', 8: 'Porbandar', 9: 'Jammnagar', 10: 'Rajkot', 11: 'Bhuj', 12: 'Kandla', 13: 'Surat', 14: 'Vadodara', 15: 'Aizawal', 16: 'Agra', 17: 'Allahabad', 18: 'Gorakhpur', 19: 'Hindon', 20: 'Kanpur', 21: 'Lucknow', 22: 'Varanashi', 23: 'Adampur', 24: 'Amritsar', 25: 'Bathinda', 26: 'Chandigarh', 27: 'Bagdogra', 28: 'Durgapur', 29: 'Bangalore', 30: 'Belgaum', 31: 'Hubli', 32: 'Mangalore', 33: 'Vidyanagar', 34: 'Mysore', 35: 'Bhopal', 36: 'Gwalior', 37: 'Indore', 38: 'Khajuraho', 39: 'Jabalpur', 40: 'Bhubaneshwar', 41: 'Jharsuguda', 42: 'Calicut', 43: 'Cochin', 44: 'Kannur', 45: 'Trivandrum', 46: 'Coimbatore', 47: 'Madurai', 48: 'Trichy', 49: 'Tuticorin', 50: 'Salem', 51: 'Dehradun', 52: 'Pantnagar', 53: 'Pithoragarh', 54: 'Dibrugarh', 55: 'Guwahati', 56: 'Jorhat', 57: 'Silchar', 58: 'Tezpur', 59: 'Lilabari', 60: 'Dimapur', 61: 'Gaya', 62: 'Patna', 63: 'Goa', 64: 'Hyderabad', 65: 'Imphal', 66: 'Bikaner', 67: 'Jaipur', 68: 'Jaisalmer', 69: 'Jodhpur', 70: 'Kishangarh', 71: 'Udaipur', 72: 'Jammu', 73: 'Srinagar', 74: 'Aurangabad', 75: 'Kolhapur', 76: 'Nagpur', 77: 'Pune', 78: 'Shirdi', 79: 'Nashik', 80: 'Nanded', 81: 'Jalgaon', 82: 'Port Blair', 83: 'Jagdalpur', 84: 'Raipur', 85: 'Cuddapah', 86: 'Rajahmundry', 87: 'Tirupathi', 88: 'Vijaywada', 89: 'Visakhapatnam', 90: 'Ranchi', 91: 'Shillong', 92: 'Dharamshala', 93: 'Kullu', 94: 'Shimla', 95: 'Diu', 96: 'Leh', 97: 'Thoise', 98: 'Passighat', 99: 'Pakyong', 100: 'Pondicherry', 101: 'Belagavi', 102: 'Kadapa', 103: 'Andal', 104: 'Ludhiana', 105: 'Pathankot', 106: 'Patnagar', 107: 'Kangra', 108: 'Meerut', 109: 'Bidar'}
110

In [ ]:
## Replacing the Names with Indices using Dictionary
flightData.replace(cityDict, inplace=True)
print(flightData.to_string())

     Airport Names  Airport(Arrival)  Frequency per week
0                4                29                   7
1                4                 0                   7
2                4                55                  25
3                4                65                   7
4                4                 2                  77
5                5                43                  14
6                6                74                  13
7                6                27                  13
8                6                29                  76
9                6                30                   7
10               6                 7                   6
11               6                35                  14
12               6                40                   7
13               6                26                  27
14               6                 3                  55
15               6                43                  14
16               6                51                  13
17               6                 0                 172
18               6                95                   6
19               6                63                  27
20               6                55                   6
21               6                31                   7
22               6                64                  59
23               6                37                  40
24               6                39                   6
25               6                67                  39
26               6                68                  12
27               6                81                   7
28               6                69                  13
29               6                12                  13
30               6                20                   6
31               6                70                   6
32               6                 2                  29
33               6                21                  29
34               6               108                   6
35               6                 1                  88
36               6                76                  13
37               6                79                  13
38               6                62                   6
39               6                 8                   7
40               6                77                  41
41               6                73                   7
42               6                71                   6
43               6                22                  20
44               7                 6                   6
45               7                13                   6
46               8                 6                   7
47               8                 1                   7
48               9                 1                   7
49              10                 0                  14
50              10                 1                  21
51              11                 1                   7
52              12                 6                  12
53              12                 1                   7
54              13                29                  14
55              13                 7                   6
56              13                 3                  14
57              13                 0                  42
58              13                63                  21
59              13                64                  14
60              13                67                  10
61              13                68                   7
62              13                 2                  28
63              13                 1                   7
64              13                76                   7
65              13                71                   7
66              14                29                  15
67              14                 0                  49
68              14                64                   7
69              14                 1                  22
70              14                76                  14
71              15                55                  14
72              15                65                   4
73              15                 2                  21
74              16                67                   4
75              17                35                   7
76              17                29                   7
77              17                 0                  28
78              17                 2                  21
79              17                 1                   7
80              17                84                  21
81              18                29                   7
82              18                 0                  14
83              18                64                   7
84              18                 2                   7
85              18                 1                   7
86              19                31                   3
87              19                53                   7
88              20                 6                   6
89              20                 0                   7
90              20                 1                  14
91              21                 6                  36
92              21                29                  41
93              21                 3                   7
94              21                51                   6
95              21                 0                 147
96              21                63                   8
97              21                64                  20
98              21                 2                  28
99              21                 1                  63
100             21                62                  14
101             21                77                   7
102             21                73                   7
103             22                 6                  19
104             22                 6                  13
105             22                29                  27
106             22                40                   7
107             22                 3                  18
108             22                51                   3
109             22                 0                 127
110             22                61                  15
111             22                64                  36
112             22                67                  11
113             22                38                  12
114             22                 2                  33
115             22                 1                  56
116             23                 0                   7
117             24                29                   7
118             24                51                   2
119             24                 0                  87
120             24                64                   7
121             24                67                   7
122             24                 2                   7
123             24                 1                  16
124             24                62                  11
125             24                73                  14
126             25                 0                   3
127             26                 6                  23
128             26                29                  19
129             26                51                   2
130             26                 0                 167
131             26                92                   6
132             26                64                   8
133             26                 2                  23
134             26                93                  18
135             26                96                   4
136             26                 1                  41
137             26                77                   3
138             26                94                   6
139             26                73                  13
140             27                 6                  13
141             27                29                  21
142             27                 3                   7
143             27                 0                  69
144             27                54                   7
145             27                55                  21
146             27                64                   7
147             27                 2                  66
148             27                 1                  14
149             28                 0                   7
150             28                64                   4
151              2                 4                  78
152              2                 6                  35
153              2                15                  14
154              2                17                  21
155              2                24                   7
156              2                27                  66
157              2                29                 142
158              2                40                  56
159              2                26                  14
160              2                 3                 120
161              2                43                   8
162              2                 0                 278
163              2                54                  26
164              2                60                  13
165              2                61                  13
166              2                63                   7
167              2                18                   7
168              2                55                 122
169              2                36                   7
170              2                64                  65
171              2                65                  26
172              2                37                   7
173              2                39                  35
174              2                67                  43
175              2                56                   7
176              2                59                   7
177              2                21                  30
178              2                 1                 169
179              2                76                  15
180              2                99                   7
181              2                62                 116
182              2                82                  61
183              2                77                  34
184              2                84                  50
185              2                91                   7
186              2                57                  30
187              2                13                  22
188              2                22                  33
189              2                89                  14
190             29                 4                   7
191             29                 5                   7
192             29                 6                  89
193             29                17                   7
194             29                24                   7
195             29                27                  21
196             29               101                  28
197             29                30                   2
198             29                35                   7
199             29                40                  52
200             29               109                   7
201             29                42                  14
202             29                26                  19
203             29                 3                 129
204             29                43                  70
205             29                46                  39
206             29                51                  12
207             29                 0                 321
208             29                63                  68
209             29                18                   7
210             29                55                  31
211             29                36                   6
212             29                31                  21
213             29                64                 224
214             29                65                  20
215             29                37                  26
216             29                67                  33
217             29                68                   7
218             29                41                   7
219             29                69                   7
220             29                44                  19
221             29                75                   7
222             29                 2                 118
223             29                21                  39
224             29                47                  26
225             29                32                  68
226             29                 1                 341
227             29                34                   7
228             29                76                  28
229             29                62                  41
230             29               100                   6
231             29                82                  20
232             29                77                 116
233             29                84                  14
234             29                86                  14
235             29                90                  27
236             29                78                  19
237             29                13                  14
238             29                87                   7
239             29                48                   7
240             29                45                  51
241             29                49                   7
242             29                71                   8
243             29                14                  14
244             29                22                  27
245             29                33                   7
246             29                88                  40
247             29                89                  34
248             30                 6                   7
249             30                29                  29
250             30                85                   7
251             30                64                  21
252             30                 1                  11
253             30                34                   7
254             30                77                   7
255             30                87                   7
256             31                 6                   7
257             31                29                  19
258             31                 3                   7
259             31                43                   7
260             31                63                   7
261             31                19                   3
262             31                64                   7
263             31                44                   7
264             31                 1                   5
265             31                87                   7
266             32                29                  66
267             32                 3                  14
268             32                 0                  14
269             32                64                  14
270             32                 1                  35
271             32                77                   7
272             33                29                   7
273             33                64                   7
274             34                29                   7
275             34               101                   7
276             34                 3                  14
277             34                43                   7
278             34                63                   7
279             34                64                  14
280             35                 6                  14
281             35                17                   7
282             35                29                   7
283             35                 0                  55
284             35                64                  14
285             35                67                  14
286             35                 1                  35
287             35                76                   7
288             35                77                   6
289             35                84                   7
290             35                71                   7
291             36                29                   6
292             36                 0                   3
293             36                64                   7
294             36                37                   3
295             36                72                   7
296             36                 2                   7
297             37                 6                  54
298             37                29                  28
299             37                30                   3
300             37                 3                   7
301             37                 0                  81
302             37                63                  14
303             37                36                   3
304             37                64                  28
305             37                67                   7
306             37                70                   3
307             37                 2                   7
308             37                 1                  37
309             37                76                   8
310             37                84                   7
311             37                78                   7
312             38                16                   3
313             38                22                   4
314             39                 6                   6
315             39                 0                  14
316             39                64                  14
317             39                 2                  14
318             39                 1                   7
319             40                 6                   6
320             40                29                  49
321             40                 3                  15
322             40                 0                  58
323             40                55                   7
324             40                64                  28
325             40                41                   7
326             40                 2                  50
327             40                 1                  21
328             40                76                   7
329             40                90                   7
330             41                40                   7
331             41                84                   7
332             41                 0                   7
333             41                64                   7
334             41                 2                   7
335             42                29                   7
336             42                 1                   7
337             42                 3                   7
338             42                 1                   7
339             42                 0                   7
340             42                29                   7
341             42                 3                   7
342             43                 5                   7
343             43                 6                  13
344             43                29                  77
345             43                 3                  76
346             43                 0                  56
347             43                63                   7
348             43                31                   7

In [ ]:
## Creating the Matrix with Zero Values
## len function is used to calculate the length of the dictionary
cityArray = np.zeros((len(cityDict), len(cityDict)))
print(cityArray)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [ ]:
## Iterating the DataFrame to insert value at the adjacency matrix
for i in range(len(flightData)) :

    print(flightData.iloc[i, 0], flightData.iloc[i, 1], flightData.iloc[i, 2])
    cityArray[int(flightData.iloc[i, 0]), int(flightData.iloc[i, 1])] = int(flightData.iloc[i, 2])

4 29 7
4 0 7
4 55 25
4 65 7
4 2 77
5 43 14
6 74 13
6 27 13
6 29 76
6 30 7
6 7 6
6 35 14
6 40 7
6 26 27
6 3 55
6 43 14
6 51 13
6 0 172
6 95 6
6 63 27
6 55 6
6 31 7
6 64 59
6 37 40
6 39 6
6 67 39
6 68 12
6 81 7
6 69 13
6 12 13
6 20 6
6 70 6
6 2 29
6 21 29
6 108 6
6 1 88
6 76 13
6 79 13
6 62 6
6 8 7
6 77 41
6 73 7
6 71 6
6 22 20
7 6 6
7 13 6
8 6 7
8 1 7
9 1 7
10 0 14
10 1 21
11 1 7
12 6 12
12 1 7
13 29 14
13 7 6
13 3 14
13 0 42
13 63 21
13 64 14
13 67 10
13 68 7
13 2 28
13 1 7
13 76 7
13 71 7
14 29 15
14 0 49
14 64 7
14 1 22
14 76 14
15 55 14
15 65 4
15 2 21
16 67 4
17 35 7
17 29 7
17 0 28
17 2 21
17 1 7
17 84 21
18 29 7
18 0 14
18 64 7
18 2 7
18 1 7
19 31 3
19 53 7
20 6 6
20 0 7
20 1 14
21 6 36
21 29 41
21 3 7
21 51 6
21 0 147
21 63 8
21 64 20
21 2 28
21 1 63
21 62 14
21 77 7
21 73 7
22 6 19
22 6 13
22 29 27
22 40 7
22 3 18
22 51 3
22 0 127
22 61 15
22 64 36
22 67 11
22 38 12
22 2 33
22 1 56
23 0 7
24 29 7
24 51 2
24 0 87
24 64 7
24 67 7
24 2 7
24 1 16
24 62 11
24 73 14
25 0 3
26 6 23
26 29 19
26 51 2
26 0 167
26 92 6
26 64 8
26 2 23
26 93 18
26 96 4
26 1 41
26 77 3
26 94 6
26 73 13
27 6 13
27 29 21
27 3 7
27 0 69
27 54 7
27 55 21
27 64 7
27 2 66
27 1 14
28 0 7
28 64 4
2 4 78
2 6 35
2 15 14
2 17 21
2 24 7
2 27 66
2 29 142
2 40 56
2 26 14
2 3 120
2 43 8
2 0 278
2 54 26
2 60 13
2 61 13
2 63 7
2 18 7
2 55 122
2 36 7
2 64 65
2 65 26
2 37 7
2 39 35
2 67 43
2 56 7
2 59 7
2 21 30
2 1 169
2 76 15
2 99 7
2 62 116
2 82 61
2 77 34
2 84 50
2 91 7
2 57 30
2 13 22
2 22 33
2 89 14
29 4 7
29 5 7
29 6 89
29 17 7
29 24 7
29 27 21
29 101 28
29 30 2
29 35 7
29 40 52
29 109 7
29 42 14
29 26 19
29 3 129
29 43 70
29 46 39
29 51 12
29 0 321
29 63 68
29 18 7
29 55 31
29 36 6
29 31 21
29 64 224
29 65 20
29 37 26
29 67 33
29 68 7
29 41 7
29 69 7
29 44 19
29 75 7
29 2 118
29 21 39
29 47 26
29 32 68
29 1 341
29 34 7
29 76 28
29 62 41
29 100 6
29 82 20
29 77 116
29 84 14
29 86 14
29 90 27
29 78 19
29 13 14
29 87 7
29 48 7
29 45 51
29 49 7
29 71 8
29 14 14
29 22 27
29 33 7
29 88 40
29 89 34
30 6 7
30 29 29
30 85 7
30 64 21
30 1 11
30 34 7
30 77 7
30 87 7
31 6 7
31 29 19
31 3 7
31 43 7
31 63 7
31 19 3
31 64 7
31 44 7
31 1 5
31 87 7
32 29 66
32 3 14
32 0 14
32 64 14
32 1 35
32 77 7
33 29 7
33 64 7
34 29 7
34 101 7
34 3 14
34 43 7
34 63 7
34 64 14
35 6 14
35 17 7
35 29 7
35 0 55
35 64 14
35 67 14
35 1 35
35 76 7
35 77 6
35 84 7
35 71 7
36 29 6
36 0 3
36 64 7
36 37 3
36 72 7
36 2 7
37 6 54
37 29 28
37 30 3
37 3 7
37 0 81
37 63 14
37 36 3
37 64 28
37 67 7
37 70 3
37 2 7
37 1 37
37 76 8
37 84 7
37 78 7
38 16 3
38 22 4
39 6 6
39 0 14
39 64 14
39 2 14
39 1 7
40 6 6
40 29 49
40 3 15
40 0 58
40 55 7
40 64 28
40 41 7
40 2 50
40 1 21
40 76 7
40 90 7
41 40 7
41 84 7
41 0 7
41 64 7
41 2 7
42 29 7
42 1 7
42 3 7
42 1 7
42 0 7
42 29 7
42 3 7
43 5 7
43 6 13
43 29 77
43 3 76
43 0 56
43 63 7
43 31 7
43 64 43
43 44 14
43 2 14
43 1 56
43 34 7
43 77 13
43 87 6
43 45 14
44 29 26
44 42 5
44 3 14
44 43 14
44 0 7
44 63 7
44 31 7
44 64 21
44 1 7
44 45 8
45 29 39
45 3 41
45 43 7
45 0 14
45 64 7
45 44 8
45 1 28
3 6 75
3 103 7
3 27 7
3 29 154
3 40 14
3 42 15
3 43 78
3 46 107
3 85 7
3 0 170
3 63 27
3 55 26
3 31 7
3 64 131
3 37 8
3 67 14
3 44 14
3 2 102
3 21 8
3 47 99
3 32 14
3 1 157
3 34 14
3 76 7
3 62 8
3 82 69
3 77 49
3 84 7
3 86 7
3 50 7
3 78 14
3 13 7
3 48 61
3 45 43
3 49 35
3 22 18
3 88 17
3 89 27
46 29 39
46 3 100
46 0 35
46 64 42
46 32 2
46 1 40
46 77 7
47 29 26
47 3 91
47 0 7
47 64 21
47 1 7
48 29 7
48 3 49
48 64 7
49 29 7
49 3 35
50 3 7
51 6 14
51 29 12
51 0 59
51 64 7
51 67 7
51 21 6
51 1 24
51 53 14
51 22 3
52 51 4
53 51 14
53 19 7
0 23 7
0 6 74
0 17 21
0 24 39
0 103 7
0 74 14
0 27 48
0 29 191
0 25 3
0 35 34
0 40 29
0 66 7
0 42 3
0 26 80
0 3 77
0 84 11
0 43 56
0 46 14
0 51 32
0 92 8
0 63 81
0 18 14
0 55 72
0 36 3
0 64 124
0 65 7
0 37 46
0 39 14
0 67 29
0 68 7
0 72 50
0 41 7
0 69 21
0 107 6
0 44 8
0 20 7
0 70 7
0 2 142
0 93 21
0 96 29
0 21 77
0 104 4
0 32 7
0 1 328
0 76 42
0 105 3
0 62 128
0 106 4
0 82 3
0 77 107
0 84 14
0 10 15
0 90 70
0 94 7
0 78 14
0 73 74
0 13 29
0 97 2
0 45 14
0 71 14
0 14 14
0 22 70
0 88 14
0 89 34
54 27 7
54 0 16
54 55 14
54 2 33
55 4 25
55 6 21
55 15 7
55 27 21
55 29 39
55 40 7
55 3 26
55 0 107
55 54 23
55 64 9
55 65 32
55 67 14
55 56 7
55 2 118
55 1 28
55 98 4
55 57 14
55 58 3
56 55 7
56 2 7
57 15 1
57 0 7
57 55 14
57 2 28
58 55 3
59 2 1
59 2 6
60 2 13
61 0 7
61 2 13
61 22 8
62 6 13
62 24 11
62 29 48
62 3 8
62 0 204
62 64 22
62 2 74
62 21 14
62 1 67
62 90 7
63 6 26
63 29 76
63 3 27
63 43 7
63 0 137
63 31 7
63 64 64
63 37 14
63 44 7
63 2 7
63 21 7
63 1 148
63 77 20
63 13 21
64 6 61
64 24 7
64 103 4
64 74 14
64 27 7
64 29 199
64 101 23
64 35 14
64 40 29
64 26 25
64 3 127
64 43 44
64 46 36
64 85 7
64 51 7
64 0 212
64 63 69
64 18 7
64 55 10
64 36 7
64 31 8
64 37 29
64 39 16
64 83 7
64 67 46
64 41 7
64 44 21
64 70 8
64 75 14
64 2 79
64 21 22
64 47 21
64 32 15
64 1 165
64 34 15
64 76 7
64 80 7
64 79 7
64 62 21
64 100 7
64 82 7
64 77 34
64 84 28
64 86 51
64 90 7
64 78 32
64 13 15
64 87 63
64 48 8
64 45 21
64 71 7
64 14 7
64 22 28
64 33 7
64 88 80
64 89 66
65 4 6
65 15 4
65 29 13
65 0 9
65 55 44
65 2 27
66 0 7
67 16 4
67 6 34
67 24 7
67 29 47
67 35 14
67 3 14
67 51 7
67 0 59
67 55 14
67 64 42
67 37 7
67 68 7
67 2 46
67 1 64
67 77 21
67 13 10
67 71 17
67 22 11
68 6 12
68 29 7
68 1 7
68 0 7
68 67 7
68 13 7
69 6 13
69 29 7
69 0 35
69 1 28
69 77 6
70 6 6
70 0 7
70 64 7
71 6 7
71 74 3
71 29 7
71 35 7
71 0 59
71 64 7
71 67 24
71 1 35
71 13 7
72 25 3
72 0 56
72 36 7
72 96 10
72 21 7
72 1 90
72 73 53
73 24 14
73 26 18
73 0 96
73 72 142
73 96 2
73 1 10
74 6 7
74 0 21
74 64 14
74 1 17
74 71 3
75 29 7
75 64 14
75 1 5
75 87 7
1 6 90
1 17 7
1 24 19
1 103 7
1 74 10
1 27 21
1 29 261
1 101 7
1 30 4
1 7 7
1 35 28
1 40 28
1 11 7
1 42 14
1 26 56
1 3 154
1 43 56
1 46 43
1 51 31
1 0 457
1 95 7
1 63 137
1 18 7
1 55 28
1 31 5
1 64 157
1 37 38
1 12 7
1 39 7
1 67 56
1 68 7
1 81 5
1 9 7
1 69 28
1 44 7
1 20 28
1 75 5
1 2 178
1 21 49
1 47 7
1 32 28
1 76 58
1 80 7
1 62 70
1 8 7
1 82 7
1 84 14
1 10 18
1 90 29
1 78 7
1 73 107
1 13 7
1 45 30
1 71 35
1 14 21
1 22 43
1 89 12
76 6 7
76 24 2
76 29 28
76 35 7
76 26 2
76 3 7
76 84 3
76 0 84
76 63 14
76 64 7
76 37 15
76 2 21
76 21 1
76 1 57
76 62 7
76 77 40
76 84 7
77 6 41
77 29 117
77 101 6
77 35 6
77 26 3
77 3 42
77 43 13
77 46 7
77 0 167
77 63 19
77 64 34
77 67 22
77 69 6
77 2 47
77 21 7
77 76 27
77 79 7
78 29 19
78 3 14
78 0 14
78 64 31
78 37 7
78 1 7
79 6 12
79 64 7
79 77 3
80 64 7
80 1 7
81 6 7
81 1 5
82 29 7
82 3 27
82 0 6
82 64 7
82 2 38
82 89 5
83 64 7
83 84 7
84 6 7
84 17 21
84 29 14
84 35 7
84 3 7
84 0 42
84 64 28
84 37 14
84 83 7
84 41 7
84 2 21
84 1 14
84 90 7
85 101 7
85 3 7
85 64 7
85 88 7
86 29 14
86 3 7
86 64 49
86 89 7
87 29 7
87 101 7
87 43 6
87 0 7
87 31 7
87 64 62
87 75 7
87 88 9
88 29 40
88 3 14
88 0 14
88 64 63
88 102 7
88 87 9
88 89 13
89 29 34
89 3 27
89 0 47
89 64 92
89 2 19
89 1 5
89 82 6
89 84 7
89 86 7
89 88 13
90 29 37
90 40 7
90 0 98
90 64 14
90 2 28
90 1 26
90 62 8
90 84 7
91 2 7
92 26 6
92 0 15
92 94 3
93 26 18
93 0 21
93 94 3
94 26 6
94 0 7
94 92 3
94 93 3
95 6 6
95 1 7
96 26 4
96 0 30
96 72 3
96 73 2
97 0 2
98 55 4
99 2 7
100 29 5
100 64 7

In [ ]:
## tolist function converts the values to Float values. Hence specifying the type explicitly 
#print(np.matrix(cityArray.astype(np.int32).tolist()))
output_df = pd.DataFrame(cityArray)
output_df.rename(index=dict(inv_cityDict), columns=dict(inv_cityDict), inplace=True)

In [ ]:
## Adjacency matrix for a week (7 days)

output_df

,Delhi,Mumbai,Kolkata,Chennai,Agartala,Agatti,Ahmedabad,Bhavnagar,Porbandar,Jammnagar,...,Pondicherry,Belagavi,Kadapa,Andal,Ludhiana,Pathankot,Patnagar,Kangra,Meerut,Bidar
Delhi,0.0,328.0,142.0,77.0,0.0,0.0,74.0,0.0,0.0,0.0,...,0.0,0.0,0.0,7.0,4.0,3.0,4.0,6.0,0.0,0.0
Mumbai,457.0,0.0,178.0,154.0,0.0,0.0,90.0,7.0,7.0,7.0,...,0.0,7.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
Kolkata,278.0,169.0,0.0,120.0,78.0,0.0,35.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Chennai,170.0,157.0,102.0,0.0,0.0,0.0,75.0,0.0,0.0,0.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
Agartala,7.0,0.0,77.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pathankot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Patnagar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kangra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Meerut,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bidar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
p=output_df

In [ ]:
## Creating 110 adjacency matrix for entire duration ( 27th October 2019 to 28th March 2020)

n = 22  ## n=22 weeks or 152 days
output_df=np.multiply(p,n)

## Indegree adjacency matrix
output_df

,Delhi,Mumbai,Kolkata,Chennai,Agartala,Agatti,Ahmedabad,Bhavnagar,Porbandar,Jammnagar,...,Pondicherry,Belagavi,Kadapa,Andal,Ludhiana,Pathankot,Patnagar,Kangra,Meerut,Bidar
Delhi,0.0,7216.0,3124.0,1694.0,0.0,0.0,1628.0,0.0,0.0,0.0,...,0.0,0.0,0.0,154.0,88.0,66.0,88.0,132.0,0.0,0.0
Mumbai,10054.0,0.0,3916.0,3388.0,0.0,0.0,1980.0,154.0,154.0,154.0,...,0.0,154.0,0.0,154.0,0.0,0.0,0.0,0.0,0.0,0.0
Kolkata,6116.0,3718.0,0.0,2640.0,1716.0,0.0,770.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Chennai,3740.0,3454.0,2244.0,0.0,0.0,0.0,1650.0,0.0,0.0,0.0,...,0.0,0.0,0.0,154.0,0.0,0.0,0.0,0.0,0.0,0.0
Agartala,154.0,0.0,1694.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pathankot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Patnagar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kangra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Meerut,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bidar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
## Exporting the indegree adjacency matrix 

filepath = 'weighted_indegree.xlsx'
output_df.to_excel(filepath, index=True)

In [ ]:
## Normalizing the adjacency matrix by dividing with highest value

df=output_df.to_numpy()
dfmax, dfmin = df.max(), df.min()
df = (df - dfmin)/(dfmax - dfmin)
# Create the dataframe
A1=pd.DataFrame(df)
A1.rename(index=dict(inv_cityDict), columns=dict(inv_cityDict), inplace=True)

In [ ]:
## Normalized weighted indegree adjacency matrix 

A1

,Delhi,Mumbai,Kolkata,Chennai,Agartala,Agatti,Ahmedabad,Bhavnagar,Porbandar,Jammnagar,...,Pondicherry,Belagavi,Kadapa,Andal,Ludhiana,Pathankot,Patnagar,Kangra,Meerut,Bidar
Delhi,0.000000,0.717724,0.310722,0.168490,0.000000,0.0,0.161926,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.015317,0.008753,0.006565,0.008753,0.013129,0.0,0.0
Mumbai,1.000000,0.000000,0.389497,0.336980,0.000000,0.0,0.196937,0.015317,0.015317,0.015317,...,0.0,0.015317,0.0,0.015317,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Kolkata,0.608315,0.369803,0.000000,0.262582,0.170678,0.0,0.076586,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Chennai,0.371991,0.343545,0.223195,0.000000,0.000000,0.0,0.164114,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.015317,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Agartala,0.015317,0.000000,0.168490,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pathankot,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Patnagar,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Kangra,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Meerut,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Bidar,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0

In [ ]:
## Exporting the normalized indegree adjacency matrix 

filepath = 'weighted_normalized_indegree.xlsx'
A1.to_excel(filepath, index=True)

In [ ]:
## Calculating the row wise summation

A=A1

A["sum"] = A.sum(axis=1)

A

,Delhi,Mumbai,Kolkata,Chennai,Agartala,Agatti,Ahmedabad,Bhavnagar,Porbandar,Jammnagar,...,Belagavi,Kadapa,Andal,Ludhiana,Pathankot,Patnagar,Kangra,Meerut,Bidar,sum
Delhi,0.000000,0.717724,0.310722,0.168490,0.000000,0.0,0.161926,0.000000,0.000000,0.000000,...,0.000000,0.0,0.015317,0.008753,0.006565,0.008753,0.013129,0.0,0.0,5.529540
Mumbai,1.000000,0.000000,0.389497,0.336980,0.000000,0.0,0.196937,0.015317,0.015317,0.015317,...,0.015317,0.0,0.015317,0.000000,0.000000,0.000000,0.000000,0.0,0.0,5.638950
Kolkata,0.608315,0.369803,0.000000,0.262582,0.170678,0.0,0.076586,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,3.964989
Chennai,0.371991,0.343545,0.223195,0.000000,0.000000,0.0,0.164114,0.000000,0.000000,0.000000,...,0.000000,0.0,0.015317,0.000000,0.000000,0.000000,0.000000,0.0,0.0,3.568928
Agartala,0.015317,0.000000,0.168490,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.269147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pathankot,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Patnagar,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Kangra,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Meerut,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Bidar,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000

In [ ]:
## Finding the in-degree centrality value for all nodes or airports

centrality=A["sum"]
centrality

Delhi        5.529540
Mumbai       5.638950
Kolkata      3.964989
Chennai      3.568928
Agartala     0.269147
               ...
Pathankot    0.000000
Patnagar     0.000000
Kangra       0.000000
Meerut       0.000000
Bidar        0.000000
Name: sum, Length: 110, dtype: float64

In [ ]:
## Exporting the indegree adjacency matrix 

filepath = 'weighted_indegree_centrality.xlsx'
centrality.to_excel(filepath, index=True)

In [ ]:
## Tranpose of data frame 
df1=output_df.T

In [ ]:
## Outdegree adjacency matrix
df1

,Delhi,Mumbai,Kolkata,Chennai,Agartala,Agatti,Ahmedabad,Bhavnagar,Porbandar,Jammnagar,...,Pondicherry,Belagavi,Kadapa,Andal,Ludhiana,Pathankot,Patnagar,Kangra,Meerut,Bidar
Delhi,0.0,10054.0,6116.0,3740.0,154.0,0.0,3784.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Mumbai,7216.0,0.0,3718.0,3454.0,0.0,0.0,1936.0,0.0,154.0,154.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kolkata,3124.0,3916.0,0.0,2244.0,1694.0,0.0,638.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Chennai,1694.0,3388.0,2640.0,0.0,0.0,0.0,1210.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Agartala,0.0,0.0,1716.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pathankot,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Patnagar,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kangra,132.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Meerut,0.0,0.0,0.0,0.0,0.0,0.0,132.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bidar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
## Normalizing the adjacency matrix by dividing with highest value

df=df1.to_numpy()
dfmax, dfmin = df.max(), df.min()
df = (df - dfmin)/(dfmax - dfmin)
# Create the dataframe
A2=pd.DataFrame(df)
A2.rename(index=dict(inv_cityDict), columns=dict(inv_cityDict), inplace=True)

In [ ]:
## Normalized weighted indegree adjacency matrix 

A2

,Delhi,Mumbai,Kolkata,Chennai,Agartala,Agatti,Ahmedabad,Bhavnagar,Porbandar,Jammnagar,...,Pondicherry,Belagavi,Kadapa,Andal,Ludhiana,Pathankot,Patnagar,Kangra,Meerut,Bidar
Delhi,0.000000,1.000000,0.608315,0.371991,0.015317,0.0,0.376368,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Mumbai,0.717724,0.000000,0.369803,0.343545,0.000000,0.0,0.192560,0.0,0.015317,0.015317,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kolkata,0.310722,0.389497,0.000000,0.223195,0.168490,0.0,0.063457,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Chennai,0.168490,0.336980,0.262582,0.000000,0.000000,0.0,0.120350,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Agartala,0.000000,0.000000,0.170678,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pathankot,0.006565,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Patnagar,0.008753,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kangra,0.013129,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Meerut,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.013129,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bidar,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
## Exporting the normalized indegree adjacency matrix 

filepath = 'weighted_normalized_outdegree.xlsx'
A2.to_excel(filepath, index=True)

In [ ]:
## Calculating the row wise summation

A=A2

A["sum"] = A.sum(axis=1)

A

,Delhi,Mumbai,Kolkata,Chennai,Agartala,Agatti,Ahmedabad,Bhavnagar,Porbandar,Jammnagar,...,Belagavi,Kadapa,Andal,Ludhiana,Pathankot,Patnagar,Kangra,Meerut,Bidar,sum
Delhi,0.000000,1.000000,0.608315,0.371991,0.015317,0.0,0.376368,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.168490
Mumbai,0.717724,0.000000,0.369803,0.343545,0.000000,0.0,0.192560,0.0,0.015317,0.015317,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.450766
Kolkata,0.310722,0.389497,0.000000,0.223195,0.168490,0.0,0.063457,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.540481
Chennai,0.168490,0.336980,0.262582,0.000000,0.000000,0.0,0.120350,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.089716
Agartala,0.000000,0.000000,0.170678,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.253829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pathankot,0.006565,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.006565
Patnagar,0.008753,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.008753
Kangra,0.013129,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.013129
Meerut,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.013129,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.013129
Bidar,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.015317

In [ ]:
## Finding the out-degree centrality value for all nodes or airports

centrality=A["sum"]
centrality

Delhi        9.168490
Mumbai       5.450766
Kolkata      3.540481
Chennai      3.089716
Agartala     0.253829
               ...
Pathankot    0.006565
Patnagar     0.008753
Kangra       0.013129
Meerut       0.013129
Bidar        0.015317
Name: sum, Length: 110, dtype: float64

In [ ]:
## Exporting the Weighted outdegree adjacency matrix 

filepath = 'weighted_outdegree_centrality.xlsx'
centrality.to_excel(filepath, index=True)

In [ ]:
## Degree adjacency matrix
df2=output_df+df1

In [ ]:
df2

,Delhi,Mumbai,Kolkata,Chennai,Agartala,Agatti,Ahmedabad,Bhavnagar,Porbandar,Jammnagar,...,Pondicherry,Belagavi,Kadapa,Andal,Ludhiana,Pathankot,Patnagar,Kangra,Meerut,Bidar
Delhi,0.0,17270.0,9240.0,5434.0,154.0,0.0,5412.0,0.0,0.0,0.0,...,0.0,0.0,0.0,154.0,88.0,66.0,88.0,132.0,0.0,0.0
Mumbai,17270.0,0.0,7634.0,6842.0,0.0,0.0,3916.0,154.0,308.0,308.0,...,0.0,154.0,0.0,154.0,0.0,0.0,0.0,0.0,0.0,0.0
Kolkata,9240.0,7634.0,0.0,4884.0,3410.0,0.0,1408.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Chennai,5434.0,6842.0,4884.0,0.0,0.0,0.0,2860.0,0.0,0.0,0.0,...,0.0,0.0,0.0,154.0,0.0,0.0,0.0,0.0,0.0,0.0
Agartala,154.0,0.0,3410.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pathankot,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Patnagar,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kangra,132.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Meerut,0.0,0.0,0.0,0.0,0.0,0.0,132.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bidar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
## Normalizing the adjacency matrix by dividing with highest value

df=df2.to_numpy()
dfmax, dfmin = df.max(), df.min()
df = (df - dfmin)/(dfmax - dfmin)
# Create the dataframe
A3=pd.DataFrame(df)
A3.rename(index=dict(inv_cityDict), columns=dict(inv_cityDict), inplace=True)

In [ ]:
## Normalized weighted degree adjacency matrix 

A3

,Delhi,Mumbai,Kolkata,Chennai,Agartala,Agatti,Ahmedabad,Bhavnagar,Porbandar,Jammnagar,...,Pondicherry,Belagavi,Kadapa,Andal,Ludhiana,Pathankot,Patnagar,Kangra,Meerut,Bidar
Delhi,0.000000,1.000000,0.535032,0.314650,0.008917,0.0,0.313376,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.008917,0.005096,0.003822,0.005096,0.007643,0.0,0.0
Mumbai,1.000000,0.000000,0.442038,0.396178,0.000000,0.0,0.226752,0.008917,0.017834,0.017834,...,0.0,0.008917,0.0,0.008917,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Kolkata,0.535032,0.442038,0.000000,0.282803,0.197452,0.0,0.081529,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Chennai,0.314650,0.396178,0.282803,0.000000,0.000000,0.0,0.165605,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.008917,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Agartala,0.008917,0.000000,0.197452,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pathankot,0.003822,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Patnagar,0.005096,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Kangra,0.007643,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Meerut,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.007643,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
Bidar,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0

In [ ]:
## Calculating the row wise summation

A=A3

A["sum"] = A.sum(axis=1)

A

,Delhi,Mumbai,Kolkata,Chennai,Agartala,Agatti,Ahmedabad,Bhavnagar,Porbandar,Jammnagar,...,Belagavi,Kadapa,Andal,Ludhiana,Pathankot,Patnagar,Kangra,Meerut,Bidar,sum
Delhi,0.000000,1.000000,0.535032,0.314650,0.008917,0.0,0.313376,0.000000,0.000000,0.000000,...,0.000000,0.0,0.008917,0.005096,0.003822,0.005096,0.007643,0.0,0.0,8.556688
Mumbai,1.000000,0.000000,0.442038,0.396178,0.000000,0.0,0.226752,0.008917,0.017834,0.017834,...,0.008917,0.0,0.008917,0.000000,0.000000,0.000000,0.000000,0.0,0.0,6.456051
Kolkata,0.535032,0.442038,0.000000,0.282803,0.197452,0.0,0.081529,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,4.369427
Chennai,0.314650,0.396178,0.282803,0.000000,0.000000,0.0,0.165605,0.000000,0.000000,0.000000,...,0.000000,0.0,0.008917,0.000000,0.000000,0.000000,0.000000,0.0,0.0,3.876433
Agartala,0.008917,0.000000,0.197452,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.304459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pathankot,0.003822,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.003822
Patnagar,0.005096,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.005096
Kangra,0.007643,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.007643
Meerut,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.007643,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.007643
Bidar,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.008917

In [ ]:
## Finding the weighted degree centrality value for all nodes or airports

centrality=A["sum"]
centrality

Delhi        8.556688
Mumbai       6.456051
Kolkata      4.369427
Chennai      3.876433
Agartala     0.304459
               ...
Pathankot    0.003822
Patnagar     0.005096
Kangra       0.007643
Meerut       0.007643
Bidar        0.008917
Name: sum, Length: 110, dtype: float64

In [ ]:
## Exporting the Weighted outdegree adjacency matrix 

filepath = 'weighted_degree_centrality.xlsx'
centrality.to_excel(filepath, index=True)